html, body {
	background-color: #000216;
	height: 100%;
	color: white;
	font-size: 18px;
	font-family: Baskerville, serif;
}

.home-img-div {
	padding: 0;
	overflow: hidden;
	position: relative;
	height: -webkit-fill-available;
	height: -moz-available; 
}

div.home-img-div>img {
	width: 100%;
	position: absolute;
}

@media only screen and (max-width: 767px) {
	.nav-bar-div-condensed {
		padding-bottom: 0;
		border-bottom: 1px solid white;
	}

	.nav-bar-div-expanded {
		display: none;
	}

	.nav-bar-brenda-lau {
		font-style: italic;
		font-weight: bold;
		margin: 20px;
		display: inline-block;
	}

	.navbar-burger {
		display: inline-block;
		float: right;
		position: fixed;
		top: 0;
		right: 0;
	}

	.nav-menu {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		width: 66%;
		float: right;
		height: -webkit-fill-available;
		height: -moz-available;
		background-color: #000216;
	}

	.nav-bar-links {
		padding-top: 80px;
		height: 100%;
		margin: auto auto 80px 10%;
	}

	.nav-bar-about-resume {
		margin-bottom: 36px;
	}

	.nav-bar-work {
		margin-bottom: 72px;
	}

	.social-links {
		margin: auto auto 80px 10%;
		bottom: 0;
		left: 0;
		position: absolute;
	}

	.about-div-container {
		padding: 0;
		position: relative;
		height: -webkit-fill-available;
		height: -moz-available; 
	}

	.about-div-content {
		margin: 0;
		padding: 80px 40px;
	}

	.about-img-div {
		padding: 0;
		width: 100%;
	}

	div.about-img-div>img {
		max-height: 100%;
		max-width: 100%;
	}

	.about-text {
		padding-top: 40px;
	}
}

@media only screen and (min-width: 768px) {
	.home-img {
		margin-top: -60%;
	}

	.nav-bar-div-expanded {
		position: relative;
		padding: 0;
	}

	.nav-bar-div-condensed, .nav-menu {
		display: none;
	}

	.nav-bar-links {
		padding-top: 80px;
		padding-left: 15px;
		border-left: 1px solid white;
		height: 100%;
		margin: auto auto 80px 20%;
	}

	.nav-bar-brenda-lau {
		font-style: italic;
		font-weight: bold;
		margin-bottom: 60px;
	}

	.nav-bar-about-resume {
		margin-bottom: 36px;
	}

	.nav-bar-work {
		margin-bottom: 72px;
	}

	.social-links {
		margin: auto auto 80px 20%;
		bottom: 0;
		left: 0;
		position: absolute;
	}

	.about-div-container {
		padding: 0;
		position: relative;
		height: -webkit-fill-available;
		height: -moz-available; 
	}

	.about-div-content {
		margin: 0;
		padding: 80px;
	}

	.about-img-div {
		padding: 0;
		width: 100%;
	}

	div.about-img-div>img {
		max-height: 100%;
		max-width: 100%;
	}

	.about-text {
		padding: 30px;
	}
}

a {
	color: white;
}

a:hover {
	opacity: .8;
}

li.active>a {
	text-decoration: underline;
}

a.social-link {
	margin-left: 5px;
}

a.social-link>img {
	height: 27px;
	width: 27px;
}