html, body {
	background-color: #000216;
	height: 100%;
	color: white;
	font-size: 18px;
	font-family: Baskerville, serif;
}

.home-img-div {
	padding: 0;
	overflow: hidden;
	position: relative;
	height: -webkit-fill-available;
	height: -moz-available; 
}

div.home-img-div>img {
	width: 100%;
	position: absolute;
}

a {
	color: white;
}

a:hover {
	opacity: .8;
	color: #e0deed;
}

li.active>a {
	text-decoration: underline;
}

a.social-link {
	margin-left: 5px;
}

a.social-link>img {
	height: 27px;
	width: 27px;
}

h1 {
	font-size: 2em;
}

.project-header {
	margin-bottom: 60px;
	line-height: 1.67em;
}

.project-description {
	line-height: normal;
	padding-top: 30px;
	font-family: Avenir, sans-serif;
}

.card-content {
	background-color: white;
	color: black;
	padding: 1.225em;
}

figure {
	overflow: hidden;
	background-color: #e0deed;
}

.image.is-4by3 img {
	height: auto;
	margin: auto;
}

.image.is-4by3.long img{
	margin: 0;
}

div.project-image>img {
	width: -webkit-fill-available;
	width: -moz-available; 
}

@media only screen and (max-width: 767px) {
	.nav-bar-div-condensed {
		padding-bottom: 0;
		border-bottom: 1px solid white;
	}

	.nav-bar-div-expanded {
		display: none;
	}

	.nav-bar-brenda-lau {
		font-style: italic;
		font-weight: bold;
		margin: 20px;
		display: inline-block;
	}

	.navbar-burger {
		display: inline-block;
		float: right;
		position: fixed;
		top: 0;
		right: 0;
	}

	.navbar-menu {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		width: 66%;
		float: right;
		height: -webkit-fill-available;
		height: -moz-available;
		background-color: #000216;
	}

	.nav-bar-links {
		padding-top: 80px;
		height: 100%;
		margin: auto auto 80px 10%;
	}

	.nav-bar-about-resume {
		margin-bottom: 36px;
	}

	.nav-bar-work {
		margin-bottom: 72px;
	}

	.social-links {
		margin: auto auto 80px 10%;
		bottom: 0;
		left: 0;
		position: absolute;
	}

	div.social-links>p {
		margin-top: 20px;
		width: 75%;
		font-size: .75em;
	}

	.about-div-container, .design-div-container, .project-div-container,
	.development-div-container, .fine-arts-div-container {
		padding: 0;
		position: relative;
		height: -webkit-fill-available;
		height: -moz-available; 
	}

	.about-div-content, .design-div-content, .project-div-content,
	.development-div-content, .fine-arts-div-content {
		margin: 0;
		padding: 40px;
	}

	.about-img-div {
		padding: 0;
		width: 100%;
	}

	div.about-img-div>img {
		max-height: 100%;
		max-width: 100%;
	}

	.about-text {
		padding-top: 40px;
	}
}

@media only screen and (min-width: 768px) {
	.home-img {
		margin-top: -60%;
	}

	.nav-bar-div-expanded {
		position: relative;
		padding: 0;
	}

	.nav-bar-div-condensed, .navbar-menu {
		display: none;
	}

	.nav-bar-links {
		padding-top: 80px;
		padding-left: 15px;
		border-left: 1px solid white;
		height: 100%;
		margin: auto auto 80px 20%;
	}

	.nav-bar-brenda-lau {
		font-style: italic;
		font-weight: bold;
		margin-bottom: 60px;
	}

	.nav-bar-about-resume {
		margin-bottom: 36px;
	}

	.nav-bar-work {
		margin-bottom: 72px;
	}

	.social-links {
		margin: auto auto 80px 20%;
		bottom: 0;
		left: 0;
		position: absolute;
	}

	div.social-links>p {
		margin-top: 20px;
		width: 75%;
		font-size: .75em;
	}

	.about-div-container, .design-div-container, .project-div-container,
	.development-div-container, .fine-arts-div-container {
		padding: 0;
		position: relative;
		height: -webkit-fill-available;
		height: -moz-available; 
	}

	.about-div-content, .design-div-content, .project-div-content,
	.development-div-content, .fine-arts-div-container {
		margin: 0;
		padding: 80px;
		/*border: 1px solid white;*/
	}

	.about-img-div {
		padding: 0;
		width: 100%;
	}

	div.about-img-div>img {
		max-height: 100%;
		max-width: 100%;
	}

	.about-text {
		padding: 30px;
	}

	.design-preview, .development-preview, .fine-arts-preview {
		position: relative;
	}

	/*.design-preview-title, .development-preview-title, .fine-arts-preview-title {
		width: 100%;
		height: 20px;
		display: inline-block;
		position: absolute;
		top: 0;
		bottom: 0;
		-webkit-transform: rotate(-90deg); 
    	-moz-transform: rotate(-90deg); 
    	-webkit-transform: origin(0 0); 
    	-moz-transform: origin(0 0); 
    	padding: 0;
	}

	div.design-preview-title>p, div.development-preview-title>p, div.fine-arts-preview-title>p {
		text-align: right;
	}

	.design-preview-image, .development-preview-image, .fine-arts-preview-image {
		display: inline-block;
		height: 200px;
	}

	img.design-preview-image:hover, img.development-preview-image:hover, img.fine-arts-image:hover {
		cursor: pointer;
	}*/

	.columns.project-row {
		margin-bottom: 20px;
	}
	.project-text {
		font-size: .8em;
	}
}